@font-face {
  font-family: 'Press Start 2P';
  src: url("../font/PressStart2P-Regular.ttf") format("truetype");
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Press Start 2P', source-code-pro, Menlo, Monaco, Consolas, 'Courier New' !important;
  color: black !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}